/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

html, body {
  font-style: normal;
  scroll-behavior: smooth;
}
:root{
  --trans: all .3s;
}
.overlay{
  display: none;
  position: absolute;
  height: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .8;
  z-index: 100;
}
.burger {
  position: absolute;
  top: 35px;
  right: 35px;
  height: 30px;
  width: 40px;
  cursor: pointer;

  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.burger-line {
  width: 100%;
  height: 3px;
  background-color: #414A4F;
  border-radius: 3px;
}
.burger__top-line {
}
.burger__centr-line {
}
.burger__bottom-line {
}


.video-box{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateY(-50%) translateX(-50%);
  z-index: 101;
}
.active{
  display: block;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1432px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
}
.title {
  color: #414A4F;
  font-family: Alegreya;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;

  animation-duration: 2.2s;
}
.dec-line {
  width: 406px;
  height: 3px;
  background: #414A4F;
  margin-left: 30px;

  animation-duration: 3.2s;
}
.slick-dots{
  position: absolute;

  display: flex;
  justify-content: center;

  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  gap: 8px
}

.slick-dots button{
  font-size: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.slick-active button{
  background-color: #4C90B6;
}
.arrow-box{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}
.arrow__item {
  position: relative;
  width: 55px;
  height: 45px;

  border: inset 1px #414A4F;

  display: flex;
  align-items: center;
  justify-content: center;
}
 .arrow__item::before{
  position: absolute;
  content: '';
  width: 55px;
  height: 45px;
  left: 5px;
  top:5px;
  background-color: #fff;
  opacity: 68%;
  z-index: -1;
  transition: var(--trans);
} 
.arrow__item:hover::before{
  left: -1px;
  top: -1px;
  opacity: 1;
}
.arrow__item:active path{
  fill: #4C90B6;
}
.arrow__left {
}
.arrow__right {
}

.header {
  position: relative;
  z-index: 1;
  padding-bottom: 75px;
  margin-bottom: 120px;
}
.header::before{
  position: absolute;
  content: '';
  width: 80%;
  height: 100%;
  top: 0; 
  left: 0;
  background: linear-gradient(201deg, #E4EDEF 48.07%, #83888900 188.69%);
  z-index: -1;
} 
.main__servises {
  padding:70px 0 80px;
}
.main__project {
  padding:70px 0 80px;
  margin-bottom: 80px;
}
.main__consult {
  padding:70px 0 80px;
  margin-bottom: 80px;
}
.main__feetback {
  padding:70px 0 125px;
  margin-bottom: 80px;
}
.footer {
  padding-top: 30px;
  background: linear-gradient(226deg, #E4EDEF 65.86%, #83888900 129.48%);
}
/* =================HEADER================== */
/* =================HEADER================== */
.header__inner {
  position: relative;
  z-index: 1;
}
.header__inner::before {
  position: absolute;
  content: '';
  width: 23%;
  height: 115%;
  top: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}
.header__contact-mobily{
  display: none;
}
.header__top {
  color: #000;
  font-family: Bellota;

  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  gap: 10px;
  margin-bottom: 60px;

  animation-duration: 1s;
  animation-name: top-down;
}
.header__logo {
  width: 164px;
  height: 71px;
  overflow: hidden;
  flex:none;
}
.header__logo img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.header__nav {
  display: flex;
  max-width: 756px;
  width: 100%;
  gap: 5px;
  justify-content: space-between;
}
.header__nav-item {
  position: relative;
}
.header__nav-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 5px;
  left: 5px;
  background-color: #FFF;
  opacity: 68%;
  z-index: -1;
  
  transition: var(--trans);
}
.header__nav-link {
  font-size: 15px;
  font-weight: 700;
  line-height: 143%;
  text-wrap: nowrap;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 47px 5px 47px;
  border: 1px inset #414a4fa3;
 
  transition: var(--trans);
}
.header__nav-item:hover::before{
  top: 0;
  left: 0; 
  opacity: 1;
}
.header__nav-link:active{
  text-shadow: 0px 0px 6.8px #0000008c;
}
.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:12px;
}

.header__contact-icon a{
  transition: var(--trans)
}
.header__contact-icon a:hover{
  transform: scale(1.1);
}

.header__contact-box {
  font-size: 17px;
  font-weight: 400;
  line-height: 104%;
  display: flex;
  flex-direction: column;
}
.header__contact-box a{
  transition: var(--trans)
}
.header__contact-box a:hover{
text-shadow: 0px 0px 1px #5b5b5b;
}


/* ------------------------- */
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px
}
.header__content {
  max-width: 600px;
  width: 100%;
}
.header__title {
  font-family: Buenard;
  font-size: 96px;
  font-weight: 700;
  line-height: 143%;

  animation-duration: 1s;
  animation-name: left-right;
}
.header__title span{
  color: #414A4F;
}
.header__subtitle {
  font-family: Bellota;
  font-size: 24px;
  font-weight: 400;
  line-height: 135%;
  max-width: 400px;

  margin-bottom: 70px;

  animation-duration: 1.2s;
  animation-name: left-right;
}
.header__btn-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 77px;  

  animation-duration: 1.4s;
  animation-name: left-right;
}
.header__button {
  display: flex;
  padding: 18px 55px 18px 55px;
  max-width: 300px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background: #60768D;
  box-shadow: 9px 9px 0px 0px #BFC2C3;

  color: #FFF;
  font-family: Buenard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%; 
  white-space: nowrap;

  transition: var(--trans);
}
.header__button:hover{
  box-shadow: 0px 0px 0px 0px #BFC2C3;
  background: #34414e
}
.header__button:active{
  box-shadow: 0px 0px 40.6px 0px #0ea4f842 inset;
  color: #4C90B6;
}
.header__media {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  cursor: pointer;
}
.header__media-icon {
  width: 70px;
  height: 70px;
  background: url(../images/media/play.svg) 0 0 / 100% no-repeat; 
  transition: var(--trans);
}
.header__media-text {
  color: #6A5B00;
  font-family: Buenard;
  font-size: 24px;
  font-weight: 400;
  line-height: 143%;
  text-decoration-line: underline;
}
.header__media:hover .header__media-icon{
  background: url(../images/media/play-hover.svg) 0 0 / 100% no-repeat; 
}
.header__media:active .header__media-icon{
  transform: rotate(180deg);
}
.header__media:hover .header__media-text{
  color: #a89204; 
}
.header__social-box {
  display: flex;
  gap: 23px;

  animation-duration: 1.6s;
  animation-name: left-right;
}
.header__social-item {
  transition: var(--trans);
}
.header__social-link {
}
.header__slider-wrapper {
  position: relative;
  margin-right: 20px;
  max-width: 700px;

  animation-duration: 1.6s;
  animation-name: right-left; 
}
.header__social-item path{
  transition: all .3s;
}
.header__social-item:hover path{
  fill-opacity: 1;
}
.header__social-item:active{
  transform: rotate(360deg);
}
.header__slider-wrapper::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: -20px;
  right: -20px;
  border: 2px solid #414a4f80;
}

.header__slider {
  position: relative;
}
.header__slid {
  width: 700px;
  height: 600px;
  overflow: hidden;
}
.header__slid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_arrow-box{
  left: 30px;
  bottom: 30px;
}


/* =================SERVISES================== */
/* =================SERVISES================== */
.servises {
  position: relative;
  z-index: 1;
}
.servises::before{
  position: absolute;
  content:'';
  top: 0;
  right: 0;
  width: 80%;
  height: 70%;
  background: linear-gradient(86deg, #09102236 -15.8%, #00278c38 100.57%);
  z-index: -1;
}
.servises__inner {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.servises__head {
}
.servises__title {
}
.servises__dec-line {
}
.servises__blinds-box {
  display: flex;
  gap: 20px;
  position: relative;

  animation-duration: 5s;

}
.servises__subtitle{
  position: absolute;
  top: 0px;
  right: 0;
  
  text-wrap: nowrap;
  color: #ffffff29;
  font-family: Buenard;
  font-size: 197px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; 
  user-select: none;
  z-index: -1;

  animation-duration: 1.2s;
  }
  .servises__subtitle span{
    color: #60768d33;
  }

.servises__blinds-item {
  position: relative;
  width: 25%;
  height: 70vh;
  overflow: hidden;
  cursor: pointer;
  user-select: none;


  transition: all 1.5s ease;
}
.servises__blinds-cart {
  position: absolute;
  width: 100%;
  min-height: 230px;
  padding: 30px 0;
  top: 150px;
  background: #60768dcf;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 22px;
  z-index: 2;

  transition: all 1.5s ease;
}
.blinds__cart-title {
  color: #FFF;
  text-align: center;
  font-family: Alegreya;
  font-size: 36px;
  font-weight: 400;
  line-height: 143.173%; 
  text-wrap: wrap;

  transition: all .5s
}
.card-icon{
  overflow: hidden;
}
.blinds__cart-icon-1 {
  width: 55px;
  height: 88px;
}
.blinds__cart-icon-2 {
  width: 80px;
  height: 81px;
}
.blinds__cart-icon-3 {
  width: 72px;
  height: 72px;
}
.blinds__cart-icon-4 {
  width: 136px;
  height: 93px;
}
.card-icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blinds__cart-text{
  color: #FFF;
  font-family: Alegreya;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 73.8px */

  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
}
.servises__blinds-img--filter{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(86deg, #09102233 -12.94%, #00278c17 98.78%);
  z-index: 1;
}
.servises__blinds-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servises__blinds-item:hover{
  width: 300%;
}
.servises__blinds-item:hover .servises__blinds-cart {
  background: #60768d00;
  min-height: 100%;
  padding: 20px;
  top: 0;
  justify-content: space-between;
  gap: 22px;
}
.servises__blinds-item:hover .blinds__cart-title {
  text-align: start;
  font-size: 50px;
  line-height: 114%;
}
.servises__blinds-item:hover .card-icon{
  position: absolute;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 10%;
  padding: 60px;
}
.servises__blinds-item:hover .blinds__cart-text{
  transform: translateY(0);
  opacity: 1;
  padding: 80px 25px;

  transition:all .5s ease-out .7s;
}
.servises__blinds-item:hover .servises__blinds-img--filter{
  background: linear-gradient(86deg, #000000e0 -12.94%, #000000a6 98.78%);
  transition: all 1.5s ease;
}

/* @keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

/* =================PROJECT================== */
/* =================PROJECT================== */
.project {
position: relative;
z-index: 1;
}
.project::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 90%;
  top: 0;
  left: 0;
  background: linear-gradient(190deg, #1c441542 13.44%, #9fcc9742 101.11%);  
  z-index: -1;
}
.project__inner {
  position: relative;
}
.project__inner::before{
  position: absolute;
  content: '';
  height: 154%;
  width: 37%;
  top: -100px;
  right: -422px;
  background-color: #ffffff;
}
.project__subtitle {
  position: absolute;
  top: -100px;
  right: 0;
  
  color: #ffffff2b;
  font-family: Buenard;
  font-size: 197px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; 
  user-select: none;
  z-index: -1;
}
.project__subtitle span{
  color: #60768d17;
}
.project__head {
  margin-bottom: 60px;
}
.project__dec-line {
  width: 240px;
}
.project__slider-wrapper {
}
.project__slider {
  margin-bottom: 30px;
  max-width: 1150px;
  position: relative;
}
.project__slid-item {
  width: 100%;
  overflow: hidden;
}
.project__slid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__slider-nav {
  margin: 0 -10px;
  max-width: 1290px;
}
.nav__slid-item {
  height: 258px;
  margin: 0 10px;
  overflow: hidden;
}
.nav__slid-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project_arrow-box{
  position: absolute;
  top: calc(50% - 120px);
  left: calc(1150px + 55px);
}
/* =================CONSULTAT================== */
/* =================CONSULTAT================== */

.cnsultat {
position: relative;
z-index: 1;
}
.cnsultat::before{
  position: absolute;
  content:'';
  top: 0;
  right: 0;
  width: 95%;
  height: 100%;
  background: linear-gradient(56deg, #7cbcff3d 7.88%, #0d457e3d 89.39%);
  z-index: -1;
}

.consult__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 84px;
}
.consult__subtitle {
  position: absolute;
  top: 0;
  right: 0;

  color: #ffffff2b;
  font-family: Buenard;
  font-size: 117px;
  font-weight: 700;
  line-height: 143%;
  user-select: none; 
  z-index: -1;
}
.consult__subtitle span{
  color: #ffffff66;
}
.consult__head {
}
.consult__title {
}
.consult__dec-line {
}
.consult__form {
display: flex;
justify-content: flex-start;
gap: 80px;
}
.consult__form-item{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__left{
  max-width: 500px;
}

.form__right{
  max-width: 800px;
}
.consult__form label{
  color: #000;
  font-family: Alegreya;
  font-size: 30px;
  line-height: 143%;
}
.consult__form input, textarea{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  background: #60768D;

  padding: 26px 0 26px 20px;

  color: #FFF;
  font-family: Inter;
  font-size: 20px;

  box-shadow: 13px 13px 0px 0px #ffffffab;

  transition: all .8s;
}
.consult__form input::placeholder, textarea::placeholder{
  color: #ffffff99;
  font-family: Inter;
  font-size: 20px;
}
.consult__form input:hover, textarea:hover{
  box-shadow: 0px 0px 0px 0px #ffffffab;
}

.consult__form input:focus, textarea:focus{
  background: #34414e
}
.consult__form button{
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  color: #414A4F;
  font-family: Alegreya;
  line-height: 143%; 
  font-size: 30px;
  padding: 12px 0;
 
  background-color: transparent;
  z-index: 1;
}
.consult__form button::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #000000a5; 
}
.consult__form button::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 13px;
  left: 13px;
  background-color: #FFF;
  opacity: .6;
  z-index: -1;

  transition: var(--trans);
}
.consult__form button:hover::before{
  top: 0;
  left: 0;
  opacity: 1;
}
.consult__form button:hover:active{
  text-shadow: 0px 0px 6.8px #0000008c;
}
.consult__form [type="email"]{
  max-width: 500px;
}
.consult__form textarea{
  margin-bottom: 0;
  height: 100%;
}
/* =================FEETBACK================== */
/* =================FEETBACK================== */


.feetback {
  background: #052e457d;
}
.feetback__inner {
  position: relative;
}
.feetback__subtitle {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 1;

  color: #ffffff0d;
  font-family: Buenard;
  font-size: 117px;
  font-weight: 700;
  line-height: 143%; 
  user-select: none;
}
.feetback__subtitle span{
  color: #ffffff33;
}
.feetback__head {
  margin-bottom: 50px;
}

.feetback__title {
  z-index: 2;
}
.feetback____dec-line {
}
.feetback__slider-wrapper {
}
.feetback__slid-box {
  position: relative;
}
.feetback__slid {
  margin: 20px;
}
.feetback__slid-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  max-width: 1435px;
  min-height: 400px;
  padding: 40px;
  background: #60768D;
  position: relative;
}
.feetback__slid-cart::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  border: 1px solid #000000bd;
}
.feetback__slid-client {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.feetback__slid-avater {
  width: 155px;
  height: 152px;
  overflow: hidden;
  border-radius: 100px;
  border: 6px solid #EEE;
}
.feetback__slid-avater img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feetback__slid-name {
  color: #EEE;
  font-family: Alegreya;
  font-size: 25px;
   font-weight: 700;
  line-height: 143%;
  text-align: center;
  opacity: .7;
}
.feetback__slid-comment {
  color: #FFF;
  font-family: Alegreya;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; 
  position: relative;
}
.feetback__slid-comment::before{
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: -8px;
  left: -80px;
  background: url(/images/Quote.svg);
}

.feetback__slid-title {
  margin-bottom: 35px;

  }
.feetback__slid-text {
  max-width: 1000px;
  font-size: 20px;
  font-weight: 500;
}
.feetback__slid-box .slick-dots{
  bottom: -60px;
}

.feetback_arrow-box{
flex-direction: row;
gap: 260px;
left: calc(50% - calc(370px / 2));
bottom: calc(-60px - 15px) ;
}
/* =================FOOTER================== */
/* =================FOOTER================== */

.footer__inner {
display: flex;
flex-direction: column;
}
.footer__body {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  margin-bottom: 40px;
}
.footer__form-box {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 90px;
  height: 40px;
  overflow: hidden;

  margin-bottom: 10px;
}
.footer__logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__form-title {
  font-family: Alegreya;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 5px;
}
.footer__form-subtitle {
  font-family: Alegreya;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
  
}
.footer__form {

}
.footer__form input{
  height: 24px;
  max-width: 200px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 5px;
}
.footer__form button{
  height: 24px;
  max-width: 200px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
}
.footer_nav-wrapper{
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__nav-item {
  font-family: Alegreya;
  font-size: 15px;
  font-weight: 400;

  margin-bottom: 5px;
  display: inline-block;
}
.footer__nav-item:first-child{
  font-family: Alegreya;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 10px;
}
.footer__nav-link {
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact-title {
  font-family: Alegreya;
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 10px;
}
.footer__email {
  font-family: Alegreya;
  font-size: 15px;
  font-weight: 400;

  margin-bottom: 5px;
}
.footer__tel {
  font-family: Alegreya;
  font-size: 15px;
  font-weight: 400;

  margin-bottom: 10px;

}
.footer__contact-icon {
  display: flex;
  gap: 5px;
}
.footer__contact-item {
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.footer__contact-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__row{
  font-family: Bellota;
  color:#9f9f9f;

  background-color: #414A4F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer a:hover{
  opacity: .7;
}

/* ===================ANIMATION==================== */
/* ===================ANIMATION==================== */

@keyframes top-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes top-down-nav {
  from {
opacity: 0;
  }
  to {
    opacity: 1;}
}

@keyframes left-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} 

.left__right-anima{
  animation-name: left-right;
}

.right__lef-anima{
  animation-name: right-left;
}

/* =================MEDIA================== */
/* =================MEDIA================== */



/* =================1500================== */

@media (max-width:1500px){
  .project::before {
    width: 91%;
  }
  .project__slider {
    max-width: 1000px;
  }
  .project_arrow-box{
    left: calc(1000px + 55px);
  }
}



/* =================1200================== */

@media (max-width:1200px) {
  .header__title {
    font-size: 60px;
  }
  .header__slider-wrapper {
    max-width: 550px;
  }
  .header__nav {
    display: flex;
    max-width: 544px;
  }
  .header__nav-link {
    font-size: 15px;
    padding: 5px 33px;
  }
  .header__nav-link[href="#Feedback"]{
    padding: 5px 20px;
  }
  .header__btn-box {
    flex-direction: column;
    margin-bottom: 60px;
    gap: 30px;
  }
  .header__button {
    padding: 10px;
  }
  .header__media {
    margin: 0;
  }


  /* -------project---------- */
  .project__subtitle {
    top: -40px;
    right: 30px;
    font-size: 130px;
  }
  .project__slider {
    max-width: 800px;
  }
  .project_arrow-box{
    left: calc(800px + 55px);
  }
  .project::before {
    width: 90%;
  }
}

/* =================1100================== */

@media (max-width:1100px){
  .servises__subtitle {
    font-size: 130px;
    top: 40px;
  }
  .header__contact-icon{
    display: none;
  }

/* --------project-------- */
  .project__subtitle {
    top: -40px;
    right: 30px;
    font-size: 130px;
  }
  .project__slider {
    max-width: 800px;
  }
  .project_arrow-box{
    left: calc(800px + 55px);
  }
}

/* =================1000================== */

@media (max-width:1000px){
  
  .header__nav-link {
    font-size: 12px;
    padding: 3px 20px;
  }
  .header__logo {
    width: 120px;
  }
  .header__contact-box {
    font-size: 12px;
  }
  .header__slider-wrapper {
    max-width: 420px;
  }
  .arrow-box{
    left: auto;
    right: 30px;
  }
  .feetback_arrow-box{
    left: calc(50% - calc(370px / 2));
  }

/* -------.project--------- */
.project__slider {
    max-width: 100%;
  }
  .project__subtitle {
    top: -40px;
    right: 10px;
  }
  .project_arrow-box{
    top: calc(55% - 120px); 
  }
}

@media (max-width:425px){
  .header__slider-wrapper{
    display: none;
  }
}

/* =================750================== */

@media (max-width:750px){


  .header{
    height: max-content;
    padding: 35px 0  0;
  }
   .header::before{
    position: absolute;
    content: '';
    right: left;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/header_slid_1.jpg) right/ cover no-repeat;
  }
  .header__slider-wrapper{
    display: none;
  }
  .header__top{
    display: none;
  }
  .header__inner::before{
    display: none;
  }
  .header__title {
    font-size: 76px;
    line-height: 120%;
    margin-bottom: 26px;
    width: 200px;
  }
  .header__subtitle {
    font-size: 15px;
    width: 243px;
    margin-bottom: 320px;
  }
  .header__btn-box{
    margin: 0;
  }
  .header__button{
    display: none;
  }
  .header__media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
  }
  .header__media-icon{
    width: 22px;
    height: 22px;
    background: url(../images/header_play-icon2.svg) 0 0 / 100% no-repeat;
  }
  .header__media-text{
    color: #A58B00;
    font-size: 15px;
  }
  .header__social-box{
    display: none;
  }
  .burger{
    display: flex;
  }
  .header__contact-mobily{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 330px;
    height: 80px;
    background: linear-gradient(-90deg, #cdb39180, #96B5D180);  
    border-radius: 3px;
    z-index: 10;

    font-size: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    transform: translateX(-300px);
    transition: var(--trans);
  }
  .header__contact-mobily::before{
    position: absolute;
    content: 'Contact';
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(58%) translateY(-64%);
    font-family: belotta;
    font-size: 17px;
    font-weight:400;
    line-height: 104%;
  }
  .dell::before{
    opacity: 0;
  }
  .header__contact-mobily--open{
    font-size: 17px;
    background: linear-gradient(90deg, #cdb39180, #96B5D180);
    transform: translateX(0px);
  }
  .header__contact-icon{
    display: flex;
  }
  .header__contact-box{
    font-size: 17px;
    font-weight: 400;
    
  }











}




/* ===================ANIMATION==================== */
/* ===================ANIMATION==================== */

@keyframes top-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes top-down-nav {
  from {
opacity: 0;
  }
  to {
    opacity: 1;}
}

@keyframes left-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} 

.left__right-anima{
  animation-name: left-right;
}

.right__lef-anima{
  animation-name: right-left;
}